.wf-800 {
  max-width: 800px;
  width: 800px;
}

.link {
  text-decoration: none;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.hoverPrimary {
  &:hover {
    background-color: $primary-hover;
  }
}
